body {
	background: silver;
	font-family: "Arial";
}

.contenedor {
	margin: 0 auto;
	width: 70%;
	background: gray;
	border: 2px solid red;
	text-align: center;
}

.contenedor h1 {
	font-size: 1.5em;
	color: red;
}

.contenedor p {
	font-size: 1em;
	color:orange;
}